 body {
  background: #000;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.5;
}
a {
  color: #fff;
  text-decoration: none;
  border-bottom: solid 2px;
}

@media (min-width: 640px) {
  body {
    background-image: url(bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 120vh;
  }

  .content {
    width: 600px;
    height: 650px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #333;
    padding: 45px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
  }

  .browser-bar {
    background: #f9f9f3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }

  .button {
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .close {
    background: #fc635d;
  }

  .min {
    background: #fdbc40;
  }

  .max {
    background: #34c84a;
  }
 
}
img{ display: block;
    margin-left: auto;
    margin-right: auto;
width:128px;
height:128px;
}
 form {
   
  width:100%;
  margin:0 auto;
  padding:25px 0;
  border-radius:5px;
  
}
  form input {
    display:block;
    text-align:center;
    width:60%;
    padding:10px;
    margin:10px auto;
    border-radius:3px;
    border:1px solid #d7d7d7;
  }

    form input[type=submit] {
      background:#1cca6b;
      border:none;
      width:65%; 
      color:#fff;
    }
    form input[type=submit]:hover{
      background: #08f751;
      color: #fff;
      width:70%; 
      
    }

     
